<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/ts.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include("../components/header.ejs") %>
    <main>
        <h1>Dashboard</h1>
        <section>
            <h2>Utilisateurs</h2>
            <a href="/users">Liste des utilisateurs</a>
            <a href="/users/create">Créer un utilisateur</a>
        </section>
    </main>
    <%- include("../components/footer.ejs") %>
    <script src="/scripts/app.js"></script>
</body>
</html>